html {
  margin: auto;
  padding: 0;
  display: flex;
  justify-content: center;
}
* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  margin: 5%;
  padding: 0;
  width: 400px;
}

textarea {
  min-height: 200px;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  outline: none;
  border: 2px solid gainsboro;
  border-radius: 4px;
  padding: 8px;
  margin-bottom: 1rem;
}

#author {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}

#author > section {
  display: flex;
  align-items: center;
  gap: 4px;
}

#donate_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}

#donate {
  outline: none;
  border: none;
  background-color: white;
  padding: 4px 12px;
  border-radius: 4px;
  border: 1px solid #fbdd29;
  display: block;
  cursor: pointer;
}

#donate > a {
  color: #fbdd29;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  align-items: center;
}

#donate > a > img {
  width: 20px;
  margin-right: 4px;
}

#donate:hover {
  background-color: #fbdd29;
}

#donate:hover > a {
  color: black;
}

#version_wrapper {
  text-align: right;
  font-style: italic;
  font-size: 12px;
}

#metadata {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#source_code {
  font-size: 12px;
  font-style: italic;
}

a#test {
  text-decoration: none;
  display: block;
  text-align: center;
}

.button-82-pushable {
  width: 100%;
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-82-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.button-82-edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
    to left,
    #1679e3 0%,
    #088bdc 8%,
    #6998ff 92%,
    #53b7ff 100%
  );
}

.button-82-edge.test {
  background: linear-gradient(
    to left,
    #e3f1ff 0%,
    #e9f0f5 8%,
    #c9c9c9 92%,
    #7c7c7c 100%
  );
}

.button-82-front.test {
  background: hsl(0, 0%, 100%);
  color: black;
  margin-top: 1rem;
  border: 1px solid #e3e3e3;
}

.button-82-front {
  display: block;
  position: relative;
  padding: 12px 8px;
  border-radius: 12px;
  font-size: 1rem;
  color: white;
  background: hsl(212, 95%, 63%);
  will-change: transform;
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.button-82-pushable:hover {
  filter: brightness(110%);
  -webkit-filter: brightness(110%);
}

.button-82-pushable:hover .button-82-front {
  transform: translateY(-6px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.button-82-pushable:active .button-82-front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.button-82-pushable:hover .button-82-shadow {
  transform: translateY(4px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.button-82-pushable:active .button-82-shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.button-82-pushable:focus:not(:focus-visible) {
  outline: none;
}
