html {
  margin: auto;
  padding: 0;
  display: flex;
  justify-content: center;
}
* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  margin: 5%;
  padding: 0;
  width: 400px;
}

button:not(#donate) {
  width: 100%;
  padding: 8px 16px;
  border-radius: 4px;
  color: white;
  background-color: blue;
  margin-top: 16px;
  outline: none;
  border: none;
  cursor: pointer;
}

button:not(#donate):hover {
  background-color: #008cba;
}

textarea {
  min-height: 200px;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  outline: none;
  border: 2px solid gainsboro;
  border-radius: 4px;
  padding: 8px;
}

#author {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}

#author > section {
  display: flex;
  align-items: center;
  gap: 4px;
}

#donate_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}

#donate {
  outline: none;
  border: none;
  background-color: white;
  padding: 4px 12px;
  border-radius: 4px;
  border: 1px solid #fbdd29;
  display: block;
  cursor: pointer;
}

#donate > a {
  color: #fbdd29;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  align-items: center;
}

#donate > a > img {
  width: 20px;
  margin-right: 4px;
}

#donate:hover {
  background-color: #fbdd29;
}

#donate:hover > a {
  color: black;
}

#version_wrapper {
  text-align: right;
  font-style: italic;
  font-size: 12px;
}

#test {
  display: block;
  margin-top: 16px;
  width: 100%;
  padding: 6px 16px;
  text-align: center;
  background-color: white;
  color: blue;
  border: 1px solid blue;
  border-radius: 4px;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}

#test:hover {
  background-color: blue;
  color: white;
}
